!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    section#content-wrap
      section#content
        canvas#drawer(width=560,height=346)
        section#contacts
          div.contact.github
            a(href='https://github.com/indutny') github
          div.contact.geeklist
            a(href='http://geekli.st/indutny') geeklist
          div.contact.twitter
            a(href='http://twitter.com/indutny') twitter
        img(src='/images/indutny.png')
    script(src='/javascripts/paper.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/main.js')
    script var _gaq =_gaq||[];_gaq.push(['_setAccount', 'UA-29169083-1']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
