!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    section#content-wrap
      section#content
        canvas#drawer(width=560,height=346)
        section#contacts
          div.contact.github
            a(href='https://github.com/indutny') github
          div.contact.geeklist
            a(href='http://geekli.st/indutny') geeklist
          div.contact.twitter
            a(href='http://twitter.com/indutny') twitter
        img(src='/images/indutny.png')
    script(src='/javascripts/paper.js')
    script(src='/javascripts/main.js')
